.color-box { width: 10px; height: 10px; display: inline-block; }
.blue { background-color: blue; }
.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.orange { background-color: orange}

.content {
    position: absolute ;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    height: auto;
    left: 5px;
}

.content-main {
    grid-area: main;
    padding-top: 70px;
    bottom: 40px;
}

/*.p-5 {*/
/*    padding: 3rem !important;*/
/*    padding-top: 3rem !important;*/
/*    padding-right: 3rem !important;*/
/*    padding-bottom: 3rem !important;*/
/*    padding-left: 3rem !important;*/
/*}*/

.pgHeader{
    padding: 10px;
    background-color: whitesmoke;
    height: 58px;
    width: 99%;
    text-align: right;
    top: 5px;
    left: 5px;
}

.itemHeader{
    padding: 10px;
    background-color: whitesmoke;
    height: 58px;
    width: 100%;
    text-align: center;
    vertical-align: center;

    top: 5px;
    left: 5px;
}

.itemRequired{
    padding: 10px;
    background-color: whitesmoke;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: red;
    top: 5px;
    right: 5px;
}

.headerContainer {
    display: flex;
    justify-content: space-between; /* Alinha os itens aos extremos do contêiner */
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 10px;
    background-color: whitesmoke;
    height: 58px;
}

.headerTitle {
    flex-grow: 1; /* Permite que o título cresça para ocupar o espaço disponível, centralizando-o */
    text-align: center;
}

.headerRequired {
    padding: 10px;
    font-size: 12px;
    color: red;
    white-space: nowrap; /* Evita que o texto quebre em mais de uma linha */
}

.dataFields{
    position: absolute;
    padding: 10px;
    height: 50%;
    width: 99%;
    top: 68px;
    left: 5px;
}

.dataGrid{
    position: absolute;
    padding: 10px;
    height: 40%;
    width: 99%;
    top: 300px;
    left: 5px;
}

.pgNavigation{
    position: absolute;
    padding: 10px;
    background-color: goldenrod;
    height: 90%;
    width: 15%;
    top: 68px;
    left: 5px;
}

.pgContent{
    position: absolute;
    padding: 10px;
    background-color: green;
    scroll-behavior: smooth;
    height: 90%;
    width: 83.6%;
    left: 15.7%;
    top: 68px;
}

.pgFooter{
    position: absolute;
    padding: 10px;
    background-color: whitesmoke;
    height: 40px;
    width: 99%;
    bottom: 5px;
    left: 5px;
}

.btn-visualizar {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/icons8-view-24.png');
    background-size: cover;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-excluir {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/icons8-delete-24.png');
    background-size: cover;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.gridHeader{
    background: #333D3F;
    border:black;
    color: white;
}

/*p{*/
/*    position: absolute;*/
/*    font-family: "Arial", serif;*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-size: large;*/
/*    text-align: center;*/
/*    left: 50%;*/
/*}*/

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root{
    --cor-cinza:#999;
    --cor-amarelo:#F0DD6C;
    --cor-cinza-escuro:#333D3F
}

.full{
    background-color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr 40px;
    grid-template-areas: "sidenav header"
                        "sidenav main"
                        "sidenav footer";
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ Buttons -----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
contain-option-button-inactive{
    background-color: var(--cor-cinza-escuro);
    color: gray;
    cursor: pointer;
    border: none;
}

contain-option-button-active{
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-amarelo);
    cursor: pointer;
    border: none;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ header ------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
.header{
    grid-area: header;
    color: var(--cor-amarelo);
    background-color:var(--cor-cinza-escuro);
    box-shadow: 5px 5px 25px -14px rgb(153, 153, 153);
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70px;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 999;
}

.welcome{
    font-size: 1.4em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.welcome p{
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.login{
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login img{
    width: 50%;
    cursor: pointer;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ sidenav ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
.sidenav{
    grid-area: sidenav;
    background-color:var(--cor-cinza-escuro);
    /*border-top-right-radius:20px ;*/
    border-bottom-right-radius: 20px;
    padding-top: 20px;
    position: fixed;
    height: 100vh;
    width: 250px;
}

.button-nav-option {
    --bs-bg-opacity:1;
    background-color: transparent;
    color: var(--cor-cinza);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: var(--bs-body-font-weight);
    text-align: left;
}

.button-nav-option:hover {
    color: var(--cor-amarelo);
}

.button-nav-item {
    --bs-bg-opacity:1;
    background-color: transparent;
    color: var(--cor-cinza);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: var(--bs-body-font-weight);
    text-align: left;
}

.button-nav-item:hover {
    color: var(--cor-amarelo);
}

.panel{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 80%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}

.logo img{
    max-width: 90%;
    height: 90%;
}

.nav-pages{
    margin-top: 20px;
}

.contain-option{
    height: auto;
    text-align: left;
}

a.nav-option{
    /* padding-left: 25px; */
    text-decoration: none;
    color: var(--cor-cinza);
    height: auto;
    cursor: pointer;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: left;
    :hover{
        color: var(--cor-amarelo);
        background-color: #2d3536;
    }
}

.nav-option img{
    max-height: 20px;
}

.nav-ativo{
    color: var(--cor-amarelo) !important;
    .contain-option{
        border-right: 3px solid var(--cor-amarelo);
    }
}

.contain-option{
    padding-left: 25px;
}

.contain-option:hover{
    border-right: 3px solid var(--cor-amarelo);
    a{
        color: var(--cor-amarelo);
    }
}

.contain-option a{
    text-decoration: none;
    color: var(--cor-cinza);
}

.sub-options{
    color: var(--cor-cinza);
    display: none;
    :hover{
        color: var(--cor-amarelo);
    }
}
.sub-option-item span{
    font-size: 10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ content2 -----------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
.content2{
    grid-area: main;
}

.form-row{
    display: flex;
}

#linha-botao-pesquisa{
    display: flex;
    align-items: center;
}

.form-cadastro{
    display: none;
}

.icones-tabela{
    width: 25px;
    cursor: pointer;
}

.table tbody tr{
    padding: 0px !important;
}

.cel-img-tabela-clientes{
    text-align: center;
}

.th-editar{
    text-align: center;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ footer ------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
footer{
    position: fixed;
    left: 250px;
    bottom: 0;
    background: whitesmoke;
    height: 40px;
    width: calc(100% - 250px);
    text-align: center;
}

.situacao-Agendado {
    color: #28a745; /* Verde */
    font-weight: bold;
}

.situacao-Aberta {
    color: #dc3545; /* Vermelho */
    font-weight: bold;
}

.situacao-Em.espera {
    color: #ffc107; /* Laranja */
    font-weight: bold;
}

.situacao-Finalizado {
    color: #007bff; /* Azul */
    font-weight: bold;
}

.situacao-Bloqueio {
    color: #6c757d; /* Cinza */
    font-weight: bold;
}