.color-box { width: 10px; height: 10px; display: inline-block; }
.blue { background-color: blue; }
.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; }

.content {
    position: absolute ;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    height: auto;
    left: 5px;
}

.pgHeader{
    /*position: absolute;*/
    padding: 10px;
    background-color: whitesmoke;
    height: 58px;
    width: 99%;
    text-align: right;
    top: 5px;
    left: 5px;
}
.dataFields{
    position: absolute;
    padding: 10px;
    height: 50%;
    width: 99%;
    top: 68px;
    left: 5px;
}

.dataGrid{
    position: absolute;
    padding: 10px;
    height: 40%;
    width: 99%;
    top: 300px;
    left: 5px;
}

.pgNavigation{
    position: absolute;
    padding: 10px;
    background-color: goldenrod;
    height: 90%;
    width: 15%;
    top: 68px;
    left: 5px;
}

.pgContent{
    position: absolute;
    padding: 10px;
    background-color: green;
    scroll-behavior: smooth;
    height: 90%;
    width: 83.6%;
    left: 15.7%;
    top: 68px;
}

.pgFooter{
    position: absolute;
    padding: 10px;
    background-color: whitesmoke;
    height: 40px;
    width: 99%;
    bottom: 5px;
    left: 5px;
}

p{
    position: absolute;
    font-family: "Arial", serif;
    font-style: normal;
    font-weight: bold;
    font-size: large;
    text-align: center;
    left: 50%;
}